{% extends "admin_base.html" %}

{% block content %}

<h1 style="text-align: center;">Administrator Homepage</h1>
<br>
<br>
<div style="text-align: center;">
    <i class="fa-solid fa-user fa-2x fa-beat"></i>
    <br>
    <h2>You currently have {{ num_users }} active user(s)!</h2>
    <a href="{{ url_for('all_users') }}" class="btn btn-block btn-lg submit-button">All Users</a>
    <br>
    <br>
    <i class="fa-solid fa-money-bill-trend-up fa-2x fa-bounce"></i>
    <br>
    <h2>Your projected revenue for the upcoming year is £{{ total_revenue }}!</h2>
    <a href="{{ url_for('future_revenue') }}" class="btn btn-block btn-lg">Future Revenue</a>
</div>
<div style="text-align: center;">


</div>
{% endblock %}