{% extends "base.html" %}

{% block content %}

<title>Select Payment Option</title>
<body>
    <h1 style="text-align: center;">CHANGE SUBSCRIPTION</h1>
    <h2 style="text-align: center;">Select your new payment tariff from the options listed below</h2>
        <p style="text-align: center;">Note that your membership will renew automatically on this date: <b>{{ next_payment_date }}</b></h6>
        <p style="text-align: center;"><em>Changing your membership will combine the new subscription with remaining time left on the current subscription.</em></p>
        <meta name="csrf-token" content="{{ csrf_token() }}">
            <form id="PaymentForm" action="/change_subscription" method="post" role="form" name="payment_option" style="text-align: center;">
                {{ form.hidden_tag() }}
                <input type="hidden" id="payment_option" name="payment_option">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {{ form.csrf }}
                <div class="form-group">
                    <button id="weekly" type="submit" class="btn btn-lg btn-block btn-success submit-button">Weekly Subscription £1.99</button>
                    <br>
                    <br>
                    <button id="monthly" type="submit" class="btn btn-lg btn-block btn-success submit-button">Monthly Subscription £6.99</button>
                    <br>
                    <br>
                    <button id="yearly" type="submit" class="btn btn-lg btn-block btn-success submit-button">Yearly Subscription £79.99</button>
                </div>
                
            </form>
</body>

<script>
    // Function to update the selected option value
    function updateSelectedOption(option) {
        var currentTariff = "{{ tariff }}"; // Get the current tariff from the template
        
        // Check if the clicked button corresponds to the current tariff
        if (option === currentTariff) {
            alert("You are already on the selected tariff.");
            return false; // Prevent form submission
        }

        // Update the selected option value and submit the form
        document.getElementById('payment_option').value = option;
        document.getElementById('PaymentForm').submit(); // Submit the form when an option is selected
    }
    
    // Add event listeners to buttons
    document.getElementById("weekly").addEventListener("click", function() {
        updateSelectedOption("Weekly");
    });

    document.getElementById("monthly").addEventListener("click", function() {
        updateSelectedOption("Monthly");
    });

    document.getElementById("yearly").addEventListener("click", function() {
        updateSelectedOption("Yearly");
    });
</script>


{% endblock %}