{% extends "admin_base.html" %}
{% block content %}
    <h1 style="text-align: center;">Future Revenue</h1>
    <p style="text-align: center;">Displayed on a weekly basis</p>
    <br>
    <body>
        <canvas id="myChart"></canvas>

        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var graphData = {{ graph_data | tojson }};
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: graphData.labels,
                    datasets: [{
                        label: 'Weekly Revenue (£)',
                        data: graphData.data,
                        backgroundColor: 'rgba(250, 250,250, 1)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 2
                    }]
                },
                options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: 'black', // Y-axis labels (ticks) color
                        },
                        grid: {
                            color: 'rgba(0, 0, 0, 0.1)' // Y-axis grid line color
                        }
                    },
                    x: {
                        ticks: {
                            color: 'black', // X-axis labels (ticks) color
                        },
                        grid: {
                            color: 'rgba(0, 0, 0, 0.1)' // X-axis grid line color
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            color: 'black' // Legend labels color
                        }
                    }
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 10,
                        bottom: 10
                    }
                },
                elements: {
                    line: {
                        tension: 0 // Disables bezier curves
                    }
                },
                backgroundColor: 'white',
                }
            });

            ctx.canvas.style.backgroundColor = 'white';
        </script>
    </body>
{% endblock %}
