<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/19809d9137.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='local_landing.css')}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" />
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>TerraTracker</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #bdb1a0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="container">
            <a class="navbar-brand">
                TERRATRACKER
                <i class="fas fa-running"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="color: black;"><strong>LOGIN</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="container header">
        <h1>TerraTracker</h1>
    </div>

    <div class="container content-container">

        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="social-icons mb-3">
                <a href="https://www.facebook.com/" class="fab fa-facebook" aria-label="Facebook"></a>
                <a href="https://twitter.com/" class="fab fa-twitter" aria-label="Twitter"></a>
                <a href="https://www.instagram.com/" class="fab fa-instagram" aria-label="Instagram"></a>
            </div>            
            
            <p>&copy; 2024 TerraTracker. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
