{% extends "base.html" %}

{% block content %}
    <style>
    h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
        font-family: Jura;
        font-size: 90px;
        font-weight: bolder;
    }
    .table {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-radius:6px;
    }

    .table tr {
    border: 4px solid #B4AFA2; /* Add a border to each row */
    border-radius:20px; /* Add rounded edges to each row */
    }

    .table th,
    .table td {
        
        padding: 8px;
        text-align: left;
        font-size: x-large;
        font-family: Jura;
        font-weight: 900;
        background-color: #000000;
        color: #ccc;
    }

    .table th {
        background-color: #000000;
        color: #ccc;
    }

    .table a {
        text-decoration: none;
        color: rgb(33, 141, 255);
    }
        /* Rounded corners for the first column */
    .table td:first-child,
    .table th:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /* Rounded corners for the last column */
    .table td:last-child,
    .table th:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    </style>

    <h1>MY JOURNEYS</h1>
    {% if file_entries %}
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Upload Time</th>
                    <th>Download</th>
                    <th>Delete</th>
                    <th>View</th> <!-- Added new column for "View" -->
                </tr>
            </thead>
            <tbody>
                {% for entry in file_entries %}
                    <tr>
                        <td>{{ entry.filename }}</td>
                        <td>{{ entry.upload_time.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td><a href="{{ url_for('download_file', filename=entry.filename) }}">Download</a></td>
                        <td><a href="{{ url_for('delete_file', filename=entry.filename) }}">Delete</a></td>
                        <td><a href="{{ url_for('view', filename=entry.filename) }}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no files uploaded.</p>
    {% endif %}
{% endblock %}
