{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Select a Group Card -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Select a Personal Map Group To View</h2>
          <form id="group-selection-form">
            {{ selection_form.hidden_tag() }}
            <div class="form-group">
              {{ selection_form.pmg.label }} {{
              selection_form.pmg(class="form-control") }}
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Create Group Card -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Create a Personal Map Group</h2>
          <form method="post">
            {{ creation_form.hidden_tag() }}
            <div class="form-group">
              <label for="pmg_name">PMG Name</label>
              {{ creation_form.pmg_name(class="form-control") }} {% if
              creation_form.pmg_name.errors %} {% for error in
              creation_form.pmg_name.errors %}
              <span style="color: red">{{ error }}</span>
              {% endfor %} {% endif %}
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mt-3">
              Create PMG
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("{{ selection_form.pmg.id }}").onchange =
    function () {
      var groupId = this.value;
      // Check if the placeholder value (e.g., '') is selected
      if (groupId === "") {
        // Redirect to the base /group URL
        window.location.href = "/group";
      } else if (groupId) {
        // Redirect to the specific group's page
        window.location.href = "/viewgroup/" + groupId;
      }
    };

  document.querySelectorAll(".friend-card").forEach((card) => {
    card.addEventListener("click", function () {
      this.classList.toggle("selected"); // Toggle 'selected' class on click
      updateSelectedFriends(); // Update the hidden input with selected friend IDs
    });
  });

  function updateSelectedFriends() {
    // Collect IDs of all selected friends
    const selectedIds = Array.from(
      document.querySelectorAll(".friend-card.selected")
    ).map((card) => card.dataset.id);
    // Update the hidden input value
    document.querySelector('input[name="selected_friends"]').value =
      selectedIds.join(",");
  }
</script>
{% endblock %}
