{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center;">PROFILE</h1>
<p style="text-align: center;"><em>You are currently on a <b>{{ subscription_type }}</b> subscription.</em></p>
<div style="text-align: center;">
  <a href="{{ url_for('change_subscription') }}" class="btn">Change Subscription</a>
  <a href="{{ url_for('cancel_subscription') }}" class="btn btn-danger">Cancel Subscription</a>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="sidebar">
        <h2>Friend Requests</h2>
        {% if received_requests %}
          {% for request in received_requests %}
          <div class="mb-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted">
                  {{ request.sender.username }}
                </small>
                <div>
                  <form action="{{ url_for('accept_friend_request', request_id=request.id) }}" 
                  method="post" class="d-inline accept-request">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-success">✔</button>
                  </form>
                  <form action="{{ url_for('deny_friend_request', request_id=request.id) }}" 
                  method="post" class="d-inline deny-request">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-danger">✘</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No pending friend requests.</p>
        {% endif %}

        <h3>My Friends</h3>
        {% if friends %}

        {% for friend in friends %}
        <div class="mb-4" id="friend-{{ friend.id }}">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <small class="text-muted">
                {{ friend.username }}
              </small>
              <form action="{{ url_for('remove_friend', friend_id=friend.id) }}" method="post" class="d-inline">
                {{ form.csrf_token }}
                <button type="button" class="btn btn-danger remove-friend-btn" data-friend-id="{{ friend.id }}">Remove Friend</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Search for friends to add by typing their username into the search bar!</p>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="main-content">
        <form action="{{ url_for('profile') }}" method="get">
          <label for="search" class="visually-hidden">Search users</label>
          <input type="text" id="search" name="q" placeholder="Search users..." class="form-control">
          <button type="submit" class="btn btn-primary mt-2">Search</button>
        </form>

        {% if query %}

        <h3>Search Results for "{{ query }}"</h3>
        {% for user in results %}
        <div class="mb-4">
          <div class="card">
            <div class="card-header">
                <small class="text-muted">{{ user.username }}</small>
                {% if follow_status[user.id].status == 'pending_received' %}
                    <div class="d-flex">
                        <form action="{{ url_for('accept_friend_request', request_id=follow_status[user.id].request_id) }}" 
                        method="post" class="d-inline accept-request">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-success me-1">Accept</button>
                        </form>
                        <form action="{{ url_for('deny_friend_request', request_id=follow_status[user.id].request_id) }}" 
                        method="post" class="d-inline deny-request">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-danger">Deny</button>
                        </form>
                      </div>
                  {% elif follow_status[user.id].status == 'pending' %}
                        <form action="{{ url_for('cancel_friend_request', request_id=follow_status[user.id].request_id) }}" 
                        method="post" class="ajax-cancel-request" data-request-id="{{ follow_status[user.id].request_id }}">
                          {{ form.csrf_token }}
                            <button type="submit" class="btn btn-secondary" >Sent Request</button>
                        </form>
                {% elif follow_status[user.id].status == 'accepted' %}
                <form action="{{ url_for('remove_friend', friend_id=user.id) }}" 
                method="post" class="d-inline" data-friend-id="{{ user.id }}" data-username="{{ user.username }}">
                  {{ form.csrf_token }}
                        <button type="button" class="btn btn-danger remove-friend-btn" data-friend-id="{{ user.id }}">Remove Friend</button>
                      </form>
                {% else %}
                <form action="{{ url_for('send_friend_request', username=user.username) }}" 
                method="post" class="ajax-friend-request" data-username="{{ user.username }}">
                  {{ form.csrf_token }}
                        <button type="submit" class="btn btn-primary">Add friend</button>
                      </form>
                {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        <p>No users found.</p>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to remove this friend?</p>
    <button id="confirmRemove" class="btn btn-danger">Remove</button>
    <button id="cancelRemove" class="btn">Cancel</button>
  </div>

</div>

{% endblock %}