{% extends "reg_login_base.html" %}

{% block content %}



<!-- HTML side. Has 3 buttons to select payment options from -->
<!-- Has not been formatted to correct spec -->
<title>Select Payment Option</title>
<body>
    <h2>Please select a payment option to use the GPX Webpage</h2>
        <meta name="csrf-token" content="{{ csrf_token() }}">
            <form id="PaymentForm" action="/select_payment" method="post" role="form" name="payment_option">
                {{ form.hidden_tag() }}
                <input type="hidden" id="payment_option" name="payment_option">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {{ form.csrf }}
                <div class="form-group">
                    <button id="weekly" type="submit" class="btn btn-block btn-success submit-button">Weekly Subscription £1.99</button>
                    <br>
                    <button id="monthly" type="submit" class="btn btn-block btn-success submit-button">Monthly Subscription £6.99</button>
                    <br>
                    <button id="yearly" type="submit" class="btn btn-block btn-success submit-button">Yearly Subscription £79.99</button>
                </div>
                
            </form>
</body>

<script>
    // Function to update the selected option value
    function updateSelectedOption(option) {
        document.getElementById('payment_option').value = option;
        document.getElementById('PaymentForm').submit(); // Submit the form when an option is selected
    }

    // Add event listeners to buttons
    document.getElementById("weekly").addEventListener("click", function() {
        updateSelectedOption("Weekly");
    });

    document.getElementById("monthly").addEventListener("click", function() {
        updateSelectedOption("Monthly");
    });

    document.getElementById("yearly").addEventListener("click", function() {
        updateSelectedOption("Yearly");
    });
</script>

{% endblock %}