{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">SHARE FILE WITH FRIEND GROUPS</h1>
<h2 style="text-align: center;">File: {{ filename }}</h2>
<form action="{{ url_for('share', filename=filename) }}" method="post">
  {{ selection_form.hidden_tag() }}
  <div style="text-align: center;">
    <label for="group">Select a Group:</label>
    <select name="group" id="group">
      {% for group_id, group_name in selection_form.group.choices %}
      <option value="{{ group_id }}">{{ group_name }}</option>
      {% endfor %}
    </select>
  </div>
  <br>
  <div style="text-align: center;">
    <input type="submit" class="btn btn-lg btn-block" value="Share" />
  </div>
</form>

{% endblock %}