{% extends "base.html" %}
{% block content %}
    <h1>{{ filename }}</h1>
    <h1>Map View</h1>

    <!-- Loading Indicator -->
    <div id="loading" style="display: none;">
        Generating map, please wait...
    </div>

    <!-- iframe initially hidden -->
    <iframe id="mapFrame" src="" style="width: 100%; height: 600px; display: none;"></iframe>

    <div id="stats">
        <h2>Track Stats</h2>
        {% for stat_name, stat_value in stats.items() %}
            <p>{{ stat_name }}: {{ stat_value }}</p>
        {% endfor %}
    </div>

    <script>
        document.getElementById('loading').style.display = 'block';
    
        // Function to check if the map is ready
        function checkMapStatus() {
            var xhr = new XMLHttpRequest(); // Declaring the xhr variable
            xhr.open('GET', '/check_map_status/{{ filename }}', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.map_ready) {
                        document.getElementById('loading').style.display = 'none';
                        document.getElementById('mapFrame').style.display = 'block';
                        document.getElementById('mapFrame').src = '{{ map_url }}';
                    } else {
                        setTimeout(checkMapStatus, 4000); // Check again after 4 seconds
                    }
                }
            };
            xhr.send();
        }

        checkMapStatus();

    </script>
    

{% endblock %}
